*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: grey;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 4rem 0;
}

nav h1{
    font-size: 3rem;
}

main{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 5rem;
}

.movies{
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10rem;
    
}

.movieTitle h2,
.movieGenre,
.movieDate{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.movieGenre,
.movieDate{
    
}

.movies article h2{
    background-color: lightgray ;
    height: 300px;
    width: 200px;
    cursor: pointer;
}